<h1>Rezept bearbeiten</h1>
<% form_for @recipe, :url => recipe_path(@recipe.id) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "speichern" %>
<% end %>