- @recipes.each do |recipe|
  %div.recipe_list
    %h2= recipe.name
    %p eingestellt von #{recipe.user.display_name}
    %p eingestellt am #{format_date(recipe.created_at)}
    = link_to with_icon("details", "Details"), recipe_url(recipe.id)
