- @recipes.each do |recipe|
  %div.recipe_list
    %h2= recipe.name
    %p eingestellt von #{recipe.user.login}
    %p eingestellt am #{format_date(recipe.created_at)}
    = link_to "details", recipe_url(recipe.id)
