/* --- TAGS --- */
*
  :font-family Verdana,Helvetica,Arial
  :color #666
  :margin 0

body
  :background-color #FFF

h1
  :font-size 1.5em

h2
  :font-size 1.2em

h1, h2
  :margin 5px 0

th, td
  :vertical-align top
  :padding 2px

/* --- CONTAINER --- */
#page
  :margin auto
  :text-align left
  :width 850px

#logo
  p
    :font-size 3em
    :font-style italic
    :font-weight bold
    :color #129E00

#user_nav
  :padding 5px
  :text-align right
  ul
    :list-style-position outside
    :list-style none
    :padding 0
    li
      :display inline

#main_nav
  :background-color #129E00
  :padding 23px 31px
  :list-style-position outside
  :list-style none
  li
    :display inline
    :padding 15px
  a
    :color #FFF

#flash_notice, #flash_error
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

#container
  :width 100%
  #content
    :padding 10px

.recipe_list
  :margin-bottom 10px
  :padding 5px
  :border 1px solid #DDD

.ingredient
  :padding-left 10px

/* --- FORM FIELDS --- */
.errorExplanation
  :color #990F0F
  :margin 5px
  :padding 5px
  :border 1px solid #990F0F

.fieldWithErrors
  :color #990F0F

