/* --- TAGS --- */
*
  :font-family Verdana,Helvetica,Arial
  :color #000
  :margin 0
  :padding 0

body
  :background-image url(/images/background_page.jpg)
  :background-repeat repeat-x
  :background-color #464646
  :font-size 12px

h1
  :font-size 1.5em

h2
  :font-size 1.2em

h3
  :font-size 1em
  :font-style italic

h1, h2, h3
  :margin 5px 0

a img
  :border none
  :margin-right 5px
  :vertical-align bottom

a:hover
  :text-decoration none

th, td
  :vertical-align top
  :padding 2px

/* --- MIXINS --- */
=clearfix
  *display: inline-block
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    visibility: hidden

=white_container
  :background #f2f2f2
  :border 1px solid #000

=link_with_icon(!img)
  :background-image url(!img)
  :background-repeat no-repeat
  :padding-left 20px

=column_left
  :float left
  :margin-right 20px
  :width 560px
  :line-height 1.5em

=column_right
  :width 100%
  :padding 5px

/* --- CONTAINER --- */
#page
  :position relative
  :margin auto
  :text-align left
  :width 860px

#logo
  :font-size 3em
  :font-style italic
  :font-weight bold
  :color #129E00
  :padding 10px

#user_nav
  :padding 5px
  :text-align right
  ul
    :list-style-position outside
    :list-style none
    :padding 0
    li
      :display inline

#main_nav
  :background-color #0E6F00
  :font-size 1.3em
  :padding 20px 30px
  :list-style-position outside
  :list-style none
  li
    :display inline
    :padding 15px
  a
    :color #FFF
    :font-weight bold
    :text-decoration none

#flash_notice, #flash_error
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

#container
  :width 100%
  #content
    :margin-top 10px

/* --- RECIPE --- */
.recipe_list
  +white_container
  :padding 20px
  :margin-bottom 5px
  p
    :margin 5px 0

#recipe
  +white_container
  +column_left
  h1
    :padding 20px 0 0 160px
    :font-size 2em
    :letter-spacing -1px
    :line-height 1.5em
  h2
    :padding 0 0 0 160px

#ingredients
  :margin 15px 0 20px 20px
  :float left
  :width 120px
  ul
    :padding-left 15px

#directions
  :margin 10px 0 20px 20px
  :width 360px
  :float left
  .strong
    :padding-top 5px

#recipe_infos
  +column_right
  .label
    :font-weight bold
    :font-size 1.2em
  .text
    :color #FFF
    :font-size 1.2em
  p
    :margin 2px
  #recipe_actions
    :margin-top 20px
    p
      :margin 5px 0

#give_rating
  :padding 10px 20px

.comment
  +white_container
  :padding 10px 20px
  :width 520px

#page_foot
  :margin 5px 0
  :padding 5px
  :background-color #0E6F00
  :text-align right
  .strong
    :color #FFF

#recipe_filter
  :margin-left 580px

/* --- 2 columns layout --- */
#column_container
  +clearfix

#column_left
  +column_left

#column_right
  +column_right

/* --- FORM FIELDS --- */
.errorExplanation
  :color #990F0F
  :margin 5px
  :padding 5px
  :border 1px solid #990F0F

.fieldWithErrors
  :color #990F0F

input, textarea, select
  :font-size 1em
  :padding 0.3em

/* --- GENERAL STUFF --- */
.strong
  :font-weight bold

.text_container
  +white_container
  :padding 20px

.line_breaks
  :white-space pre-line

.details
  +link_with_icon("/images/icons/details.png")

.edit
  +link_with_icon("/images/icons/pencil.png")

.delete
  +link_with_icon("/images/icons/cancel.png")

.add
  +link_with_icon("/images/icons/add.png")
